<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{index.page.title}">Student Register</title>
</head>
<body>


<h2>Welcome new Student</h2>
<br>
<br>

<!--Displaying Value-->

   <h4 th:text="${students.get(1)}"></h4>
<br>
   <h4 th:text="${students.get(3).getFirstName()}"></h4>
<br>

<!--Concatenation-->
   <h4 th:text="${'Welcome ' +students.get(0).getFirstName()}"></h4>
<br>

<!--Link-->
<a th:href="@{https://cydeo.com}">Cydeo Home Page</a>
<br>
<a th:href="@{/student/register}">Same link</a>
<br>
<a th:href="@{/student/welcome}">Student Welcome</a>
<br>
<a th:href="@{https://google.com}">Google home page</a>
<br>

<!--Adding parameters to link-->

<a th:href="@{/student/welcome(id=3003)}">Parameter link id</a>
<br>
<a th:href="@{/student/welcome2(age=${students.get(0).getAge()})}">Parameter link age dynamic</a>
<br>



<!--Iteration-->

<br>
<h2>Students name</h2>
<ul>
    <li th:each="names : ${students}" th:text="${names.getFirstName()}"></li>
</ul>

<!--Fragments-->

<!--<br>-->
<!--<div th:replace="/fragments/index :: footer-menu">Footer Menu</div>-->
<!--<br>-->
<!--<div th:replace="/fragments/index :: main-menu">Main Menu</div>-->


<!--Conditional Logic-->
<div th:text="${students.get(0).age > 25 ? 'Eligible' : 'Nost Eligible'}"></div>

<div>
    <span th:if="${students.get(0).getState() == 'Arizona'}">Arizona</span>
    <span th:unless="${students.get(0).getState() == 'Arizona'}">Not Arizona</span>
</div>









</body>
</html>