<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <title>HTML review</title>
<!-- container for metadata(is not display on the page)
  title, style(css),
-->

</head>

<body>
  <b>Welcome to Java Developer Course</b>

<h1 align="center" style="color: blue">Spring boot</h1>
<h2>Spring boot</h2>
<h3>Spring boot</h3>
<h4>Spring boot</h4>
<h5>Spring boot</h5>

<img src="springboot.png" alt="Spring boot image">


<ul>
    <li>JAVA</li>
    <li>Spring</li>
    <li>MVC</li>
</ul>

<a href="http://google.com">Google</a>
<h1></h1>
<table>
    <thead>This is my table</thead>
    <tr>
        <td>First name</td>
        <td>Last name</td>
        <td>Salary</td>
    </tr>
    <tr>
        <td>Leo</td>
        <td>Messi</td>
        <td>$195,000</td>
    </tr>
</table>


  <br>
<label>Username:</label>
<input type="text" name="username">
  <br>
<label>Password:</label>
<input type="password" name="password">

  <br>
  <br>
<label>Enter your comments</label>
<textarea name="comments"></textarea>

<br>
<br>
<label>Please select your gender</label>
<input type="radio" name="gender" value="male">Male
<input type="radio" name="gender" value="female">Female
<input type="radio" name="gender" value="other">LGBQ

  <br>
  <br>
<label>Please select your favorite courses</label>
<input type="checkbox" name="course" value="spring">Spring
<input type="checkbox" name="course" value="java">Java
<input type="checkbox" name="course" value="mvc">MVC
<input type="checkbox" name="course" value="oracle">Oracle

  <br>
  <br>

<label>Select your program dropdown</label>
<select>
    <option value="sdet">SDET</option>
    <option value="dev">DEV</option>
    <option value="frontend">FRONT END</option>
    <option value="back end">BACK END</option>
</select>

  <br>
  <br>

<form action="#" method="get">

    Firstname: <input type="text" name="first_name">
    <br>
    Lastname: <input type="text" name="last_name">
    <br>
    <input type="button" value="submit">


</form>

<br>
<br>

<div style="background-color: beige">
    <h3>Java developer course</h3>
    <ul>
        <li>Spring</li>
        <li>Data Structure</li>
    </ul>
</div>



</body>
</html>